*{
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100%;
}
.header{
    padding :15px 0;
    background-color: white;

}
.header-info{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   border: 0px solid black;
}
.address-info{
    color:blue;
}
.address-book{
    color: black;
}
.logo-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    border: 0px solid black;
}
.form-info{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 243, 240);
    height: 500px;
}
.form{
    width: 80%;
    padding: 20px 60px;
    
    /* background-color: white; */
}
.form-top{
    background-color: blue;
    color:white;
    padding : 16px;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
    
}
.row-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}
.name-text{
    width: 70px;
}
.input{
    width: 80%;
    padding: 10px;
    border-radius: 2px;
    margin : 40px 0px;

}
label{
    display: block;
    padding: 10px;
}

