*{
    box-sizing: border-box;
}
/* body{
    margin: 0;
    height: 100%;
    
} */
.header{
    padding :15px 0;
    background-color: white;

}
.header-info{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   border: 0px solid black;
}
.address-info{
    color:#1589FF;
    margin: 10px;

}
.address-book{
    color: black;
}
.logo-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    border: 0px solid black;
}
.logo-info-img{
    border: 0px solid black;
}
    
.form-info{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 243, 240);
    height: 50%;
    margin: 15px;
}
    
.form{
    width: 50%;
    height: 40%;
    padding: 20px 60px;
  
    
    /* background-color: white; */
}
.form-top{
    background-color: #1589FF	;
    color:white;
    padding : 16px;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
    
}
.row-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 0px 0px 0px 0px;
    height: 100px;
}
.name-text{
    width: 70px;
}
.input{
    width: 70%;
    height: 30px;
        border-radius: 2px;
    margin : 40px 0px;

}
label{
    display: block;
    padding: 10px;
    margin: 5px;
}
.cancelbutton{
     display: flex;
     flex-direction: row;
     justify-content: end;  
     align-items: flex-end;
     padding: 5px 9px 4px 206px
}
.cancelbutton-img{
    border-radius: 10px;
}
.input-address{
    height: 15vh;
    width: 70%;
    border-radius:2px ;
    border: 2px solid black;
    padding: 0px 0px 78px 4px
}
.row-content-address{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    /* border-radius: 0px 0px 10px 10px; */
}
select{
    padding: 12px;
    border-radius: 2px;
    resize: vertical;
    letter-spacing: 0px;

}
.row-select{
    display: inline-block;
   margin-left: 125px;
   /* border: 2px solid black; */
}
.row-select-state{
    display: inline-block;
    margin-left: 15px;
    /* border: 2px solid black; */
}
.zipcode{
    display: inline-block;
    width: 15%;
    background-color: white;
    
}
.select-option{
    display: inline-flex;
    flex-direction: row;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}
.input-zipcode{
    display:inline-block;
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    margin : 40px 0px;
}
.input-phone{
    width: 70%;
    height: 30px;
    border-radius: 2px;
    margin : 40px 0px;

}
.phone-number{

}
